# Prerequisites
*.d
.qmake.stash
#Project Files
*.sln
*.vc*
*.pro
*.pro.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Made by Garrett
*.gitattributes
*.json
*.suo
*.ipch
*.sqlite
*.ilk
*.log
*.pdb
*.tlog
*.lastbuildstate
*.idb